@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



/* Fonts */
/* Importar aquí la font */
.imagen{
    border-radius:50%;
    justify-content: center;
    width: 18rem;
    height: 18rem;
    
}

#logo{
    
    width: 7rem;
    height: 5.5rem;
       
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* titulos */
h1{
    font-size: 36px;
}
h2{
    font-size: 28px;
}


/* parrafos */
p{
    margin-bottom: 1.5rem;
    font-size: 18px;
    margin: 20px;
}

div{
    text-align: center;
    
}
section{
    min-height: 100vh;

}
/* esta es una section especifica para la segunda parte es que me quedaba descuadrado */
.red{
    display:flex;
    flex-direction: column;
    justify-content: center;

}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* empezamos con la barra de navegacion */
header {
    display: flex;
    background: #ac2222;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0;
    top: 0;
    right: 0;
    margin-bottom: 10px;
    z-index: 100;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
    
    }

nav{
    float: right;
}
nav ul {
    overflow: hidden;
}
nav ul li {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  nav ul li a  {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* ya terminamos con la barra de nav gracias por su atencion jaja */
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    padding-top: 120px;
}

.boton{
    border: 10px;
    background-color: #d13737;
    padding: 15px 32px;
    text-align: center;
    color:white;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
}

.boton:hover{
    background-color: #801818;
}

footer{
    background-color: #801818;
    text-align: center;
    color: #fbfbfb;
    height: 90px;
    display: flex;
    justify-content: center;
}

/* los inconos */
.icono{
    width: 4.5rem;
    height: 4.5rem;
    margin: 1rem;
}

/* iconos es el padre de los iconos pa aliniarlos */
#iconos{
    display:flex;
    justify-content: center;
    
}

/* para ponerle el color aparte a contacto */

#contacto{
    background-color: rgba(175, 89, 89, 0.3);
    border-radius: 25px;
    margin: 0.5rem;

    
}

body{
    align-items: center;
}

#glitch{
    width: 2.6rem;
    height: 1.4rem;
    margin-top: 1.3rem;
}

/* hacer que cambien a un color fijo dependiendo de la zona */
li.menu-item a {
    padding: 16px;
    display: inline-block;
}

li.menu-item a.active{
    color:black;
    display: inline-block;
}

/* hacer que lso botones cambien de color */
.btn:hover{
    background-color: #e70463;
}
/* esto es para darle unas funcionalidades al boton glitch */

#tomate .active #glitch{
    background-color: aqua;
}
main.active{
    background-color: aqua;
}



/* Ahora comienzo con los media acuerry */
/* desktop */
@media (min-width: 950px) {
    .inicio{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
    }

    .imagen{
        width: 25rem;
        height: 30rem;
        
    }

    h1{
        font-size: 42px;
    }
    p{
        font-size: 20px;
    }

    .icono{
        width: 8rem;
        height: 8rem;
        margin: 2.5rem;
    }
    #contacto{
        background-color: rgba(175, 89, 89, 0.37);
        border-radius: 20px;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 1rem;  
    }

    ul {
        position: fixed;
        left: 72%;
        top: 0;
        width: 100%; 
        z-index: 100;
        padding: 10px;
    }

    #logo  {

        position: fixed;
        left: 0;
        top: 0;

    }

    #glitch{
        width: 4rem;
        height: 2rem;
        margin-top: 1rem;
    }

    
  }

/* en general cambie todo a rojo, tambien me gusta deadpool pero como el la pagina de sergio lo tenia
puse a otro personaje que me gusta mucho que es spiderman de logo  */